<div class="row">
  Conway's Game of Life
</div>

<div class="row controls">
  <button (click)="startGame()">Iniciar</button>
  <button (click)="pauseResumeGame()">Detener</button>
  <button (click)="restartGame()">Reiniciar</button>
  <button (click)="board.nextGen()">Siguiente</button>
</div>

<div class="column">
  <div class="row">
    Tiempo entre generaciones: {{intervalTime}} ms
  </div>
  <div class="row controls">
    <form>
      <input #intervalInput [value]="intervalTime" type="number" placeholder="Speed" (keyup.enter)="setIntervalTime(intervalInput.value)" (blur)="setIntervalTime(intervalInput.value)">
    </form>
    <button (click)="setIntervalTime(intervalInput.value)">Cambiar tiempo</button>
  </div>
</div>

<div class="column">
  <div class="row">
    Rows: {{rows}},
    Columns: {{cols}}
  </div>
  <div class="row controls">
    <form>
      <input #heightInput [value]="rows" type="number" placeholder="Height" (keyup.enter)="changeBoard(heightInput.value, widthInput.value)" (blur)="changeBoard(heightInput.value, widthInput.value)">
      <input #widthInput [value]="cols" type="number" placeholder="Width" (keyup.enter)="changeBoard(heightInput.value, widthInput.value)" (blur)="changeBoard(heightInput.value, widthInput.value)">
    </form>
    <button (click)="changeBoard(heightInput.value, widthInput.value)">Cambiar tablero</button>
  </div>
</div>




<div class="game">
  <div class="row" *ngFor="let i of boardArray; index as x" >
    <div class="col" *ngFor="let j of i; index as y">
      <button (click)="changeCellValue(x, y)" [ngClass]="{alive: board.status(x, y) === 1}"></button>
    </div>
  </div>
</div>
