.game {
  display: flex;
  flex-direction: column;
}

.game button {
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 50%;
  margin: 3px;
  outline: none;
}

.game button.alive {
  background-color: #a3dddd;
}

.row {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
}

.column {
  display: flex;
  flex-direction: column;
}

#generation {
  margin-left: 880px;
}

.row.controls button {
  background-color: #a3dddd;
  color: #ffffff;
  font-weight: bold;
  margin: (0px 5px 5px 0px);
  margin-right: 5px;
  border-radius: 2px;
  border: 0;
  height: 25px;
  width: 100px;
  font-size: 9px;
}

input {
  width: 100px;
  text-align: center;
  margin: (2px 5px 0 0);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h5 {
  margin-top: 5px;
}
